<!-- Remove the container if you want to extend the Footer to full width. -->

    <footer class="text-center text-lg-start" style="background-color: #0c0705;">
      <div class="container d-flex justify-content-center py-5">
          <a href="https://www.mongodb.com" class="btn btn-primary btn-floating mx-2" style="background-color: #38b323;">Mongo</a>
          <a href="https://expressjs.com/es/" class="btn btn-primary btn-floating mx-2" style="background-color: #d5d83b;">Express</a>
          <a href="https://angular.io" class="btn btn-primary btn-floating mx-2" style="background-color: #b41111;">Angular</a>
          <a href="https://nodejs.org/es/" class="btn btn-primary btn-floating mx-2" style="background-color: #566b45;">Node</a>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Publicada en:
        <a class="text-white fw-light" href="https://cloud.digitalocean.com">Digitalocean</a>
      </div>
      <!-- Copyright -->
    </footer>
    