<app-header></app-header>
  <!-- First Container -->
<div class="py-5 container-fluid bg-1 text-center">
  <div class="row">
    <div class="col">
      <h3 class="margin">Miembro Sakura</h3>
      <img src="assets/logo.png" class="rounded-circle" style="display:inline" alt="Logo" width="350" height="350">
      <h3 class="my-3">Randy Josue Oxlaj Perez</h3>
    </div>
    <div class="col">
      <h3 class="margin">Miembro Sakura</h3>
      <img src="assets/M1.jpg" class="rounded-circle" style="display:inline" alt="Logo" width="350" height="350">
      <h3 class="my-3">Jose Miguel Aguilar Marquina</h3>
    </div>
  </div>
</div>

<app-footer></app-footer>